*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(15deg, #153677, #4e085f);
    padding: 10px;
}

.todo-app{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 5px;
}
.todo-app h1{
    color: #002765;
    display: flex;
    align-items: center;
    justify-content: center;
}
.row{
    display: flex;
    align-items: center;
    padding-left: 20px;
    margin-bottom: 25px;
}
.row input{
    width: 350px;
    height: 40px;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 20px;
    background-color: #626b6d25;
}
.row input ::placeholder{
    padding-left: 30px;
}

.row button{
    background: #e95528;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 10px 30px;
    margin-left: -30px;
    cursor: pointer;
}

/* ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/checkbox-regular-24.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}
ul li.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(images/checkbox-checked-solid-24.png);
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: #edeef0;
} */

.todo{
    margin-bottom: 10px;
    padding: 0 16px;
    display: flex;
    align-items: center;
}
.todo .todo-text{
    padding: 15px;
    padding-right: 0;
    flex-grow: 1;
    transition: 200ms ease;
}
.delete-button{
    padding: 3px;
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.delete-button svg{
    transition: 200ms ease;
}
.delete-button:hover svg{
    fill: #ff0033;
}
.custom-checkbox{
    border: 2px solid #e95528;
    border-radius: 50%;
    min-height: 20px;
    min-width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    transition: 200ms ease;
    cursor: pointer;
}
input[type="checkbox"]:checked ~ .custom-checkbox{
    background-color: #e95528;
}
input[type="checkbox"]:checked ~ .todo-text{
    text-decoration: line-through;
    color: #555;
}
input[type="checkbox"]{
    display: none;
}

@media(max-width: 500px){
    html{
        font-size: 12pt;
    }
    /* #add-button{
        position: unset;
        width: 100%;
        margin-top: 10px;
        padding: 15px;
        height: auto;
    } */

}